.active-link {
  color: #38d9a9;
}

.circled-line {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .circled-line::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1rem;
    height: 3px;
    width: 100%;
    border-radius: 50%;
    border: 1px solid #38d9a9;
  }

  .circled-line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1.25rem;
    height: 3px;
    width: 100%;
    border-radius: 50%;
    border: 1px solid #38d9a9;
  }
}
